footer {
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    li {
        list-style: none;
    }
}


.socialMediaIcons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    cursor: pointer;
    li {
    
    }
}

